In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Answer--A database is a structured collection of data that is organized and stored in a way that allows 
for efficient retrieval, management, and manipulation of the data.
Databases are used to store, manage, and retrieve data 
for various applications and purposes, ranging from simple data storage to complex data-driven applications.
**Differentiate between SQL and NoSQL databases
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.


Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Answer--DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a database,
including tables, schemas, and other database objects.
DDL statements do not manipulate or retrieve data; instead, they define and modify the database's structure. 

A)CREATE:Example: Creating a new table named "Employees" with columns for employee information.

The CREATE statement is used to create new database objects, such as tables, indexes, views, or schemas.
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(100),
    HireDate DATE
);

B)DROP:Example: Deleting the "Employees" table.

The DROP statement is used to delete existing database objects, such as tables, indexes, views, or schemas. 
It permanently removes the object and its associated data.
DROP TABLE Employees;

C) ALTER:

The ALTER statement is used to modify the structure of an existing database object.
It can be used to add, modify, or delete columns, constraints, or other properties.

Example: Adding a new column "PhoneNumber" to the "Employees" table.
ALTER TABLE Employees
ADD PhoneNumber VARCHAR(15);

D) TRUNCATE:

The TRUNCATE statement is used to quickly remove all rows from a table while preserving the table's structure.
Unlike DELETE, which removes rows one by one and logs each removal, TRUNCATE is a more efficient way to empty a table.

Example: Truncating the "Employees" table.
TRUNCATE TABLE Employees;


Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Answer--DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate and operate on data stored within a database.
DML statements are responsible for inserting, updating, and deleting records in database tables. 
EXAMPLE==
A)INSERT:

The INSERT statement is used to add new records (rows) into a database table.
Example: Inserting a new employee record into the "Employees" table.
INSERT INTO Employees (EmployeeID, FirstName, LastName, Email, HireDate)
VALUES (1, 'John', 'Doe', 'john.doe@example.com', '2023-09-27');

B)UPDATE:

The UPDATE statement is used to modify existing records in a database table.
Example: Updating the email address of an employee.

UPDATE Employees
SET Email = 'new.email@example.com'
WHERE EmployeeID = 1;

C)DELETE:

The DELETE statement is used to remove records from a database table.
Example: Deleting an employee record.
DELETE FROM Employees
WHERE EmployeeID = 1;


Q4. What is DQL? Explain SELECT with an example.
Answer--DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language)
used for querying and retrieving data from a relational database. 
DQL specifically focuses on the querying aspect.

SELECT--The SELECT statement allows you to specify the data you want to retrieve from one or more database tables. 
It can be used to retrieve specific columns or all columns, filter data based on certain conditions,and even perform calculations on the data. 
SELECT column1, column2, ...
FROM table_name
WHERE condition;

Q5. Explain Primary Key and Foreign Key.
Answer--Primary Key:

Definition: A Primary Key is a field or a set of fields in a database table that uniquely identifies each record (row) in that table. 
It ensures that there are no duplicate rows in the table.

Characteristics:

Uniqueness: Every value in the primary key column(s) must be unique within the table.
Not Null: A primary key field cannot contain a null (empty) value.
Unchanging: Primary key values should ideally not change once they are assigned.

Foreign Key:

Definition: A Foreign Key is a field or a set of fields in one table that refers to the primary key of another table.
It establishes a link between two tables, creating a relationship.

Characteristics:

Values in the foreign key column(s) of one table must match values in the primary key column(s) of another table.
Foreign keys can contain null values, which indicate that no match is found.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector

# Establish a connection to the MySQL database
try:
    # Replace these values with your MySQL server details
    connection = mysql.connector.connect(
        host="your_host",
        user="your_user",
        password="your_password",
        database="your_database"
    )

    # Create a cursor object
    cursor = connection.cursor()

    # Execute a SQL query using the execute() method
    cursor.execute("SELECT * FROM your_table")

    # Fetch and print the results
    result = cursor.fetchall()
    for row in result:
        print(row)

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    # Close the cursor and the connection
    cursor.close()
    connection.close()
Q7. Give the order of execution of SQL clauses in an SQL query.
Answer--FROM Clause: The FROM clause specifies the source table(s) or view(s) from which the data is selected. 
This is the first clause that is processed in a SQL query.

WHERE Clause: The WHERE clause is used to filter the rows returned by the FROM clause based on a specified condition.
Rows that do not meet the condition are excluded from the result set.

GROUP BY Clause: The GROUP BY clause is used to group the rows from the WHERE clause result set into sets of rows based on one or more columns. 
This is typically used with aggregate functions like SUM, COUNT, AVG, etc., to perform calculations on the grouped data.

HAVING Clause: The HAVING clause is used to filter the grouped rows produced by the GROUP BY clause.
It operates similarly to the WHERE clause but at the group level.

SELECT Clause: The SELECT clause specifies the columns that you want to retrieve from the result set. 
This is where you define what data you want to see in the final output.

DISTINCT Keyword: If the DISTINCT keyword is used in the SELECT clause, it removes duplicate rows from the result set.

ORDER BY Clause: The ORDER BY clause is used to sort the rows in the result set based on one or more columns.
It can sort in ascending (ASC) or descending (DESC) order.

LIMIT/OFFSET Clause: The LIMIT and OFFSET clauses are used for pagination and restricting the number of rows returned. 
These are often used in conjunction with ORDER BY to get a specific subset of rows.